@font-face {
	font-family: BigJohn;
	src: url('../fonts/BigJohn.otf');
}

@font-face {
	font-family: SlimJoe;
	src: url('../fonts/SlimJoe.otf');
}

@font-face {
	font-family: 'AmbleRegular';
	src: url('../fonts/Amble-Regular.ttf');
}

@font-face {
	font-family: 'AmbleLight';
	src: url('../fonts/Amble-Light.ttf');
}

@font-face {
	font-family: 'AmbleBold';
	src: url('../fonts/Amble-Bold.ttf');
}

body {
	width: 1600px;
	height: 8599px;
	padding: 0;
	margin: 0;
	background-color: black;
}

.wrapper {
	padding: 0;
	margin: 0;
	width: 1600px;
	height: 8599px;

}


.talents {
	display: inline-block;
	width: 1600px;
	height: 900px;
	background-image: url('../img/talents_background.png');
	background-repeat: no-repeat;
}

.talents h2 {
	font-family: BigJohn;
	font-size: 48px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
	padding-top: 270px;
}

img.whiteline {
	margin-left: 750px;
}

.talents p {
  font-size: 22px;
  font-family: AmbleRegular;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
  width: 628px;
  height: 50px;
  margin-top: 30px;
  margin-left: 485px;
}

img.talents_menu {
	position: relative;
	top: 50px;
	left: 50px;
}

img.talents_mouse {
	position: relative;
	top: 250px;
	left: 785px;
	right: 785px;
}

.introduction {
	display: inline-block;
	background-color: #ffffff;
	width: 1600px;
	height: 500px;
}

.introduction h2 {
  font-size: 30px;
  font-family: BigJohn;
  color: #222222;
  line-height: 60px;
  text-align: center;
  padding-top: 95px;
}

.intro_line {
	padding-top: 30px;
	padding-left: 750px;
}

.introduction p {
	font-family: 'AmbleLight';
	font-size: 22px;
	line-height: 36px;
	color: #222222;
	width: 770px;
	height: 110px;
	padding-left: 415px;
	text-align: center;
	padding-top: 20px;
}

.creativity {
	display: inline-block;
	width: 1600px;
	height: 500px;
	background-image: url('../img/creativity_background.png')
}

.creativity h2 {
	font-family: 'AmbleBold';
	font-size: 30px;
	line-height: 100px;
	width: 430px;
	height: 100px;
	text-align: center;
	color: #ffffff;
	border: 4px solid #ffffff;
	margin-left: 585px;
	margin-top: 200px;
}

.our_work {
	display: inline-block;
	width: 1600px;
	height: 1479px;
	background-color: #ffffff;
}

.our_work h2 {
	font-family: 'BigJohn';
	font-size: 30px;
	line-height: 60px;
	padding-left: 615px;
	padding-top: 80px;
}

.our_work .our_work_line {
	padding-left: 755px;
	padding-top: 40px;
}

.our_work ul {
	padding-left: 470px;
	padding-top: 70px;
}

.our_work li {
	display: inline;
	font-family: 'SlimJoe';
	font-size: 18px;
	font-weight: 36px;
	padding-right: 40px;
}

li.selected {
	font-family: 'BigJohn';
}

.pictures {
	width: 1600px;
	height: 860px;
	padding-top: 90px;
}

.picture {
	display: inline;
	height: 420px;
	width: 370px;
	padding-right: 30px;
}

.picture:nth-child(1) {
	padding-left: 215px;
}

.picture:nth-child(4) {
	padding-left: 215px;
}

.row2 {
	padding-top: 20px;
	padding-bottom: 0px;
}

.show_me_more {
	font-family: 'AmbleBold';
	font-size: 24px;
	line-height: 60px;
	color: #222222;
	border: 4px solid #222222;
	margin-top: 50px;
	margin-left: 615px;
	width: 370px;
	height: 60px;
	text-align: center; 
}

.our_work a:link {
	color: black;
	text-decoration: none;
}

.here_to_help {
	height: 500px;
	width: 1600px;
	background-image: url('../img/here_to_help.png')
}

.here_to_help h2 {
	display: inline-block;
	color: white;
	border: 4px solid white;
	width: 430px;
	height: 100px;
	text-align: center;
	font-family: 'AmbleBold';
	font-size: 24px;
	line-height: 100px;
	margin-top: 205px;
	margin-left: 585px;	
}

.clients {
	height: 500px;
	width: 1600px;
	background-color: #f4f4f4
}

.clients h2 {
	font-family: 'BigJohn';
	font-size: 30px;
	line-height: 60px;
	padding-top: 100px;
	margin: 0;
	padding-left: 685px;
}

.client_line {
	padding-top: 70px;
	padding-left: 750px;
}

.clients_logo {
	width: 1170px;
	height: 70px;
	margin-top: 80px;
	margin-left: 215px;
}

.clients a {
	text-decoration: none;
}

.google {
	display: inline-block;
	background-image: url('../img/google_black.png');
	background-repeat: no-repeat;
	width: 170px;
	height: 50px;
	margin-right: 60px;
}

.google:hover {
	background-image: url('../img/google_color.png');
}

.samsung {
	display: inline-block;
	background-image: url('../img/samsung_black.png');
	background-repeat: no-repeat;
	background-position-x: 20px; 
	width: 200px;
	height: 50px;
	margin-right: 50px;
}

.samsung:hover {
	background-image: url('../img/samsung_color.png');
}

.flickr {
	display: inline-block;
	width: 200px;
	height: 50px;
	background-image: url('../img/flickr_black.png');
	background-repeat: no-repeat;
}

.flickr:hover {
	background-image: url('../img/flickr_color.png');
}

.foursquare {
	display: inline-block;
	width: 200px;
	height: 50px;
	background-image: url('../img/foursquare_black.png');
	background-repeat: no-repeat;
	background-position-x: 15px;
	margin-right: 40px;
}

.foursquare:hover {
	background-image: url('../img/foursquare_color.png');
}

.pinterest {
	display: inline-block;
	width: 200px;
	height: 50px;
	background-image: url('../img/pinterest_black.png');
	background-repeat: no-repeat;
}

.pinterest:hover {
	background-image: url('../img/pinterest_color.png');
}

.about_us {
	height: 900px;
	width: 1600px;
	background-color: #ffffff;
}

.about_us h2 {
	margin: 0;
	font-family: 'BigJohn';
	font-size: 30px;
	line-height: 60px;
	width: 170px;
	padding-left: 715px;
	padding-top: 105px;
}

.about_us_line {
	padding-top: 60px;
	padding-left: 757px;
}

.about_us p {
	font-family: 'AmbleLight';
	font-size: 22px;
	line-height: 36px;
	padding-left: 415px;
	padding-top: 75px;
	width: 770px;
	height: 78px;
	text-align: center;
}

.team {
	width: 1385px;
	height: 360px;
	margin-top: 65px;
	margin-left: 215px;
}

.team_1 {
	display: inline-block;
	width: 270px;
	height: 360px;
	margin-right: 30px;
	background-image: url('../img/team_1_black.png');
}

.team_1:hover {
	background-image: url('../img/team_1_color.png');
}

.team_2 {
	display: inline-block;
	width: 270px;
	height: 360px;
	margin-right: 30px;
	background-image: url('../img/team_2_black.png');
}

.team_2:hover {
	background-image: url('../img/team_2_color.png');
}

.team_3 {
	display: inline-block;
	width: 270px;
	height: 360px;
	margin-right: 30px;
	background-image: url('../img/team_3_black.png');
}

.team_3:hover {
	background-image: url('../img/team_3_color.png');
}

.team_4 {
	width: 270px;
	height: 360px;
	background-image: url('../img/team_4.png');

}

ul.team {
	list-style: none;
}

.about_us li {
	display: inline-block;
}

.video {
	height: 500px;
	width: 1600px;
	background-image: url('../img/video.png');
}

.choose_us {
	height: 960px;
	width: 1600px;
	background-color: #ffffff;
}

.choose_us h2 {
	margin: 0;
	font-family: 'BigJohn';
	font-size: 30px;
	line-height: 60px;
	margin-left: 660px;
	padding-top: 105px;
}

.choose_us_line {
	margin-top: 60px;
	margin-left: 760px;

}

.choose_us p {
	font-family: 'AmbleLight';
	font-size: 22px;
	line-height: 36px;
	padding-left: 415px;
	padding-top: 70px;
	width: 770px;
	text-align: center;
}

.choose_us ul {
	width: 1170px;
	list-style: none;
	padding-left: 215px;
}

.choose_us li {
	display: inline-block;
	width: 370px;
	height: 340px;
	margin-right: 30px;
}

.choose_us img {
	padding-left: 148px;
}

.choose_us h3 {
	font-family: 'AmbleRegular';
	font-size: 24px;
	text-align: center;
}


